.matches {
}

.header1{
  text-align: center;
  color: #a74b59;
  font-family: "Avenir Next", "Nunito", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
}
.textInfoLeft{
  text-align: center;
  font-size: 4;
  font-family: "Avenir Next", "Nunito", "Helvetica Neue", Helvetica, sans-serif;
}

.textInfoRight{
  text-align: center;
  font-size: 4;
  font-family: "Avenir Next", "Nunito", "Helvetica Neue", Helvetica, sans-serif;
}

.textInfoLocal{
  text-align: center;
  font-family: "Avenir Next", "Nunito", "Helvetica Neue", Helvetica, sans-serif;
}
