<ion-header>
    <ion-navbar>
        <table>
            <tr>
                <td>
                    <ion-title>
                        {{association.getShortName() + " - " + team.getModalityFullName()}}
                    </ion-title>
                </td>
                <td>
                    <i *ngIf="favoritesService.isFavorited(association, team.getModality())"
                    (click)="favoritesService.toggleFavorite(association, team.getModality())" class="ion-ios-star"></i>
                    <i *ngIf="!favoritesService.isFavorited(association, team.getModality())"
                    (click)="favoritesService.toggleFavorite(association, team.getModality())" class="ion-ios-star-outline"></i>
                </td>
            </tr>
        </table>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            Plantel
        </ion-card-header>


        <ion-list inset>
            <ion-item *ngFor="let player of players">
                {{player}}
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>
