<ion-header>
    <ion-navbar>
        <ion-title>
            {{association.getShortName() + " - " + team.getModalityFullName()}}
        </ion-title>
        <ion-buttons end>
            <button (click)="favoritesService.toggleFavorite(association, team.getModality())" *ngIf="favoritesService.isFavorited(association, team.getModality())">
                <ion-icon primary item-right name="star"></ion-icon>
            </button>

            <button (click)="favoritesService.toggleFavorite(association, team.getModality())" *ngIf="!favoritesService.isFavorited(association, team.getModality())">
              <ion-icon primary item-right name="star-outline"></ion-icon>
          </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card class="noBackground">
        <ion-card-header class="header1">Plantel</ion-card-header>
        <ion-card-content>
                <ion-item *ngFor="let player of players" class="noBackground">
                    <ion-img style="height: auto"class="image" src="images/perfil.jpg"></ion-img>
                    <ion-item style="text-align: center">{{player}}</ion-item>
                </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>
