.teams {

}

.noBackground{
  background: url('../../images/noBackground.png');

}

.image{
    width: 10vh;
    height: 10vh;
    align-content: center;
    align-items: center;
    display: block;
    margin: auto;
}
