<ion-header>
    <ion-navbar>
        <ion-title>
            <a>{{association.getShortName() + " - " + team.getModalityFullName()}}</a>

            <a *ngIf="favoritesService.isFavorited(association, team.getModality())" (click)="favoritesService.toggleFavorite(association, team.getModality())" style="text-align: right">UNFAV</a>
            <a *ngIf="!favoritesService.isFavorited(association, team.getModality())" (click)="favoritesService.toggleFavorite(association, team.getModality())" style="text-align: right">FAV</a>
        </ion-title>
        <!--<i *ngIf="favoritesService.isFavorited(association, team.getModality())" (click)="favoritesService.toggleFavorite(association, team.getModality())" class="ion-android-star"></i>
            <i *ngIf="!favoritesService.isFavorited(association, team.getModality())" (click)="favoritesService.toggleFavorite(association, team.getModality())" class="ion-android-star-outline"></i>-->
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            Plantel
        </ion-card-header>

        <ion-list inset>
            <ion-item *ngFor="let player of players">
                {{player}}
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>
