<ion-content>
    <ion-card>
        <ion-card-header style="text-align: center">
            Associações de Estudantes
        </ion-card-header>

        <ion-list>
            <button *ngFor="let ae of studentAssociation" (click)="openStudentAssociationDetails(ae)" class="button button-assertive button-block">
            <ion-icon name="md-arrow-forward"></ion-icon>
            <label style="align-items: center;">
                  {{ae.getShortName()}}
              </label>
    </button>

        </ion-list>
    </ion-card>

    <ion-card>
        <ion-card-header style="text-align: center">Modalidades</ion-card-header>

        <ion-list>
            <button *ngFor="let modality of modalities" (click)="openModalityDetails(modality)" class="button button-assertive button-block">
            <ion-icon name="md-arrow-forward"></ion-icon>
            <label style="align-items: center;">
                  {{modality.getFullName()}}
              </label>
  </button>

        </ion-list>
    </ion-card>
</ion-content>
