<ion-header>
  <ion-navbar>
    <ion-title>
      Equipas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-card-header>
    Associações de Estudatens
  </ion-card-header>

  <ion-list>
    <button *ngFor="let ae of studentAssociation" class="button button-assertive button-block">
            <label (click)="openStudentAssociationDetails(ae)" class="icon-right ion-ios-arrow-forward"
            style="align-items: center;">
                  {{ae.getShortName()}}
              </label>
    </button>

  </ion-list>
</ion-card>

<ion-card>
<ion-card-header>
  Modalidades
</ion-card-header>

<ion-list>
  <button *ngFor="let modality of modalities" class="button button-assertive button-block">
            <label (click)="openModalityDetails(modality)" class="icon-right ion-ios-arrow-forward"
            style="align-items: center;">
                  {{modality.getSport()}} - {{modality.getGenderToString()}}
              </label>
  </button>

</ion-list>
</ion-card>
</ion-content>
