<ion-content>
    <div class="container">

        <div class="calendar">

            <header>

                <p>
                    <h2> {{date.toLocaleDateString("pt-PT", {month: "long"})}} </h2>

                    <p>
                        <h3> {{date.getFullYear()}} </h3>


                        <button fab fab-left clear fab-top (click)="monthBefore()">
                    <ion-icon name="arrow-back"></ion-icon>
                  </button>
                        <button fab fab-right fab-top clear (click)="nextMonth()">
                  <ion-icon name="arrow-forward"></ion-icon>
                </button>


            </header>

            <table>

                <thead>

                    <tr>

                        <td>Dom</td>
                        <td>Seg</td>
                        <td>Ter</td>
                        <td>Qua</td>
                        <td>Qui</td>
                        <td>Sex</td>
                        <td>Sáb</td>

                    </tr>

                </thead>

                <tbody>

                    <tr>
                        <td *ngFor="let day of days[0]" (click)="clicked(day, 0)">
                            <div *ngIf="!day.getCurrentMonth() && day.getDay() != selectedDay && !hasEventVeri(day.getDay(), -1)" class="prev-month">
                                {{day.getDay()}}
                            </div>
                            <div *ngIf="!day.getCurrentMonth() && day.getDay() != selectedDay && hasEventVeri(day.getDay(), -1)" class="event event-another-month">
                                {{day.getDay()}}
                            </div>
                            <div *ngIf="!day.getCurrentMonth() && day.getDay() == selectedDay && !hasEventVeri(day.getDay(), -1) " class="prev-month">
                                {{day.getDay()}}
                            </div>
                            <div *ngIf="!day.getCurrentMonth() && day.getDay() == selectedDay && hasEventVeri(day.getDay(), -1) " class="event event-another-month">
                                {{day.getDay()}}
                            </div>
                            <div *ngIf="day.getCurrentMonth() && day.getDay() != selectedDay && !hasEventVeri(day.getDay(), 0)" class="number">
                                {{day.getDay()}}
                            </div>
                            <div *ngIf="day.getCurrentMonth() && day.getDay() != selectedDay && hasEventVeri(day.getDay(), 0)" class="event number">
                                {{day.getDay()}}
                            </div>
                            <div *ngIf="day.getDay() == selectedDay && day.getCurrentMonth()" class=current-day>
                                {{day.getDay()}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td *ngFor="let day of days[1]" (click)="clicked(day, 1)">
                            <div *ngIf="day.getDay() !== selectedDay && hasEventVeri(day.getDay(), 0)" class="event number">
                                {{day.getDay()}}
                            </div>
                            <div *ngIf="day.getDay() !== selectedDay && !hasEventVeri(day.getDay(), 0)" class="number">
                                {{day.getDay()}}
                            </div>
                            <div *ngIf="day.getDay() == selectedDay" class="current-day">
                                {{day.getDay()}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td *ngFor="let day of days[2]" (click)="clicked(day, 2)">
                            <div *ngIf="day.getDay() !== selectedDay && hasEventVeri(day.getDay(), 0)" class="event number">
                                {{day.getDay()}}
                            </div>
                            <div *ngIf="day.getDay() !== selectedDay && !hasEventVeri(day.getDay(), 0)" class="number">
                                {{day.getDay()}}
                            </div>
                            <div *ngIf="day.getDay() == selectedDay" class="current-day">
                                {{day.getDay()}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td *ngFor="let day of days[3]" (click)="clicked(day, 3)">
                            <div *ngIf="day.getDay() !== selectedDay && hasEventVeri(day.getDay(), 0)" class="event number">
                                {{day.getDay()}}
                            </div>
                            <div *ngIf="day.getDay() !== selectedDay && !hasEventVeri(day.getDay(), 0)" class="number">
                                {{day.getDay()}}
                            </div>
                            <div *ngIf="day.getDay() == selectedDay" class="current-day">
                                {{day.getDay()}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td *ngFor="let day of days[4]" (click)="clicked(day, 4)">
                            <div *ngIf="!day.getCurrentMonth() && day.getDay() != selectedDay && hasEventVeri(day.getDay(), 1)"  class="event event-another-month">
                                {{day.getDay()}}
                            </div>
                            <div *ngIf="!day.getCurrentMonth() && day.getDay() != selectedDay && !hasEventVeri(day.getDay(), 1)"  class="next-month">
                                {{day.getDay()}}
                            </div>
                            <div *ngIf="!day.getCurrentMonth() && day.getDay() == selectedDay && !hasEventVeri(day.getDay(), 1)"  class="next-month">
                                {{day.getDay()}}
                            </div>
                            <div *ngIf="!day.getCurrentMonth() && day.getDay() == selectedDay &&  hasEventVeri(day.getDay(), 1)"  class="event event-another-month">
                                {{day.getDay()}}
                            </div>
                            <div *ngIf="day.getCurrentMonth() && day.getDay() != selectedDay && !hasEventVeri(day.getDay(), 0)" class="number">
                                {{day.getDay()}}
                            </div>
                            <div *ngIf="day.getCurrentMonth() && day.getDay() != selectedDay && hasEventVeri(day.getDay(), 0)" class="event number">
                                {{day.getDay()}}
                            </div>
                            <div *ngIf="day.getDay() == selectedDay && day.getCurrentMonth()" class="current-day">
                                {{day.getDay()}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td *ngFor="let day of days[5]" (click)="clicked(day, 5)">
                          <div *ngIf="!day.getCurrentMonth() && day.getDay() != selectedDay && hasEventVeri(day.getDay(), 1)"  class="event event-another-month">
                              {{day.getDay()}}
                          </div>
                          <div *ngIf="!day.getCurrentMonth() && day.getDay() != selectedDay && !hasEventVeri(day.getDay(), 1)"  class="next-month">
                              {{day.getDay()}}
                          </div>
                          <div *ngIf="!day.getCurrentMonth() && day.getDay() == selectedDay && !hasEventVeri(day.getDay(), 1)"  class="next-month">
                              {{day.getDay()}}
                          </div>
                          <div *ngIf="!day.getCurrentMonth() && day.getDay() == selectedDay &&  hasEventVeri(day.getDay(), 1)"  class="event event-another-month">
                              {{day.getDay()}}
                          </div>
                            <div *ngIf="day.getCurrentMonth() && day.getDay() != selectedDay && !hasEventVeri(day.getDay(), 1)" class="number">
                                {{day.getDay()}}
                            </div>
                            <div *ngIf="day.getCurrentMonth() && day.getDay() != selectedDay && hasEventVeri(day.getDay(), 1)" class="event number">
                                {{day.getDay()}}
                            </div>
                            <div *ngIf="day.getDay() == selectedDay && day.getCurrentMonth()" class="current-day">
                                {{day.getDay()}}
                            </div>
                        </td>
                    </tr>

                    <div>
                        <table *ngIf="hasEvent(selectedDay)" >
                            <ion-list>
                                <ion-item *ngFor="let feature of features" (click)="openMatchDetails(feature)">
                                    <ion-row center>
                                        <ion-col>
                                            {{feature.getFirstTeam().getFullName()}}
                                        </ion-col>

                                        <ion-col>
                                            <p>VS</p>
                                        </ion-col>

                                        <ion-col>
                                            {{feature.getSecondTeam().getFullName()}}
                                        </ion-col>

                                    </ion-row>
                                </ion-item>
                            </ion-list>
                        </table>
                        <table *ngIf="!hasEvent(selectedDay)" class=no-games>
                            No games today
                        </table>
                    </div>
                </tbody>

            </table>

        </div>
        <!-- end calendar -->

    </div>
    <!-- end container -->
</ion-content>
