.teams {
}

.h1{
  font-align: center;
  font-size: 10;
  font-family: "Avenir Next", "Nunito", "Helvetica Neue", Helvetica, sans-serif;
}
.h2{
  text-align: left;
  font-align: left;
  font-size: 5;
  font-family: "Avenir Next", "Nunito", "Helvetica Neue", Helvetica, sans-serif;
}
